@import '@shared.scss';

.header {
  @include flex();
  box-shadow: 0px 8px 10px $shadow-transparent-low;
  background-color: $primary;
  align-items: center;
  position: relative;
  z-index: 2;

  @include color-change-animation();
}

.logo {
  margin: 0.5rem 2rem;
}

.title {
  display: none;
  font-size: 2rem;
  color: $font-color-primary;

  @include color-change-animation();
}

@media (max-width: 522px) {
  .title {
    display: block;
  }

  .header {
    @include flex(center, center);
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }

  .logo {
    margin: 0;
    margin-right: 2rem;
  }
}
