@import '@shared.scss';

.card {
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 $shadow-transparent, 0 6px 20px 0 $shadow-transparent;
  width: 25rem;
  height: 30rem;
  background-color: $secondary;
  margin: 0 1rem;
  margin-bottom: 3rem;

  @include color-change-animation();
}

.title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid $divider-color-primary;
  color: $font-color-primary;
  margin: 0;

  @include opacity-animation();
  @include color-change-animation();
}

.content {
  height: 22rem;
  @include flex(flex-start, center, column);
  max-height: 100%;
  width: 100%;
  animation: Opacity 1s ease-in-out;
}

.footer {
  height: 4rem;
  border-top: 1px solid $divider-color-primary;
  animation: Opacity 1s ease-in-out;

  @include color-change-animation();
}

.animatedBackground {
  border-radius: 1rem;
  background: linear-gradient(
    89deg,
    $secondary,
    $card-loading-color,
    $secondary
  );
  background-size: 600% 600%;
  height: 100%;
  width: 100%;

  animation: backgroundLoadingAnimation 10s ease infinite;
}

@keyframes backgroundLoadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 864px) and (max-height: 650px) {
  .card {
    max-width: 90%;
    margin: 2rem 0;
  }
}
