@import '@shared.scss';

.selectContainer {
  width: 19rem;
}

.optionsContainer {
  display: none;
  width: inherit;
  position: absolute;
  max-height: calc(5 * 1.5rem);
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  box-shadow: 0 4px 8px 0 $shadow-transparent, 0 6px 20px 0 $shadow-transparent;

  @include color-change-animation();

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: $secondary;
    position: absolute;
    border-bottom-right-radius: 0.4rem;

    @include color-change-animation();
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background: $divider-color-primary;

    @include color-change-animation();
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $font-color-primary;

    @include color-change-animation();
  }
}

.option {
  width: inherit;
  padding: 0.5rem 1.3rem;
  background-color: $secondary;
  border: none;
  color: $font-color-primary;

  border-bottom: 1px solid $divider-color-primary;

  @include color-change-animation();

  &:last-child {
    border-bottom: none;
  }

  &:hover,
  &:last-child:hover {
    border: none;
    background-color: $select-hover-color;
    transform: translateY(0px);
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 $shadow-transparent-low,
      0 6px 20px 0 $shadow-transparent-low;

    @include color-change-animation();
  }
}

.input {
  width: inherit;
  padding: 0.4rem;
  border: 1px solid $divider-color-primary;
  border-radius: 0.4rem;
  color: $font-color-primary;
  background-color: transparent;

  @include color-change-animation();

  &:focus,
  &:focus-visible {
    border-radius: 0;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border: none;
    border-bottom: 1px solid $select-hover-color;
    box-shadow: 0 4px 8px 0 $shadow-transparent-high,
      0 6px 20px 0 $shadow-transparent-high;
    outline: none;
  }
}

.selectContainer:focus-within .optionsContainer {
  display: block;
}

@media (max-width: 522px) {
  .selectContainer {
    order: 4;
  }
}
