@import '../../styles/shared.scss';

.footer {
  @include flex(center, center, column);
  height: 10%;
  width: 100%;
  border-top: 1px solid $divider-color-primary;
  position: absolute;
  bottom: 0;
  padding-bottom: 0.5rem;
  background-color: $primary;

  @include color-change-animation();
}

.copyright {
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: $font-color-secondary;

  @include color-change-animation();
}

.socialMediaIcons {
  @include flex(center);
  margin-top: 0.4rem;
}

.linkicon {
  @include flex(center);
  width: 4rem;
}

.icon {
  width: 1.3rem;
  margin: 0 0.3rem;
  cursor: pointer;
}

.licenseTitle {
  font-size: 0.8rem;
  position: absolute;
  padding: 0.5rem 0.3rem;
  right: 0;
  bottom: 0;
  color: $font-color-secondary;

  @include color-change-animation();

  & > a {
    color: $font-color-secondary;
    padding: 0 0.2rem;

    @include color-change-animation();
  }
}

@media (max-width: 664px) {
  .socialMediaIcons {
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 864px), (max-height: 650px) {
  .footer {
    height: max-content;
    position: relative;
  }
}
