@import '@shared.scss';

.cardsContainer {
  @include flex(space-around);
  flex-wrap: wrap;
  background-color: $secondary;

  @include color-change-animation();
}

.infoBlock {
  @include flex(space-around);
  flex-wrap: wrap;
  background-color: $secondary;
  color: $font-color-secondary;

  @include color-change-animation();
}

.locationInfo {
  width: 25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
  margin: 1.5rem 0;
}

.bold {
  font-weight: bold;
  margin-right: 0.2rem;
}
