.title,
.linkback {
  width: 100%;
  margin: auto;
  text-align: center;
}

.title {
  margin-top: 30vh;
  color: #fff;
  font-size: 36px;
}

.linkback {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #c4c4c4;
}
