$white: #fff;
$light-gray: #f1f1f1;
$gray: #888;
$dark-gray: #555;
$black: #000;
$black-transparent-low: rgba(0, 0, 0, 0.1);
$black-transparent: rgba(0, 0, 0, 0.2);
$black-transparent-high: rgba(0, 0, 0, 0.3);
