$primary: var(--primary);
$secondary: var(--secondary);
$font-color-primary: var(--font-color-primary);
$font-color-secondary: var(--font-color-secondary);
$divider-color-primary: var(--divider-color-primary);
$shadow-transparent-low: var(--shadow-transparent-low);
$shadow-transparent: var(--shadow-transparent);
$shadow-transparent-high: var(--shadow-transparent-high);
$select-hover-color: var(--select-hover-color);
$card-loading-color: var(--card-loading-color);
